<main class="addPokemon">
    <form action="/addpokemon" method="post">
        <label for="search">Digite o nome do Pokémon:</label>
        <input type="text" name="search" id="search">
        <button type="submit">Buscar</button>
    </form>
</main>
<section style="margin-top:50px; display:flex; align-itens:center; justify-content:center;">
        <div>
            {{#if data}}
            <div class="card">
                <div class="card-title">
                    <p style="padding:5px;"> N° ID {{data.id}} | {{data.name}}</p>
                    <form action="/addpokemonSave" method="post">
                        <input type="hidden" name="id" value="{{data.id}}">
                        <button style="font-size:20px; color:#356ABC;" type="submit">adicionar</button> 
                    </form>
                </div>
                <div style="padding:10px" class="card-img-container">
                    <img class="card-img" src="https://img.pokemondb.net/artwork/{{data.name}}.jpg" alt="">
                </div>
                <div class="card-descriptions">
            </div>
            
                {{else}}
                <p style="color:white;">Você pode procurar os pokemons pelo nome ou ID da Pokedex</p>
            {{/if}}
        </div>
</section>



<style>
    .addPokemon{
        margin-top: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>